RewriteEngine On
Options -Multiviews

# Redirection de toutes les requêtes vers index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L] 